<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ASPASC.MembershipProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MyConnString" connectionString="x"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ASPASCMP">
      <providers>
        <clear />
        <add name="ASPASCMP"
            type="ASPASC.MembershipProvider.ASPASCMP, ASPASC.MembershipProvider"
            connectionStringName="MyConnString"
            applicationName="/"
            enablePasswordRetrieval="false"
            enablePasswordReset="true"
            requiresQuestionAndAnswer="false"            
            requiresUniqueEmail="false"
            minRequiredNonalphanumericCharacters="0"
            passwordFormat="Hashed" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ASPASCRP">
      <providers>
        <clear />
        <add name="ASPASCRP"
            type="ASPASC.MembershipProvider.ASPASCRP, ASPASC.MembershipProvider"
            connectionStringName="MyConnString"
            applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <ASPASC.MembershipProvider.Properties.Settings>
      <setting name="DatabaseServer" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseUserName" serializeAs="String">
        <value />
      </setting>
    </ASPASC.MembershipProvider.Properties.Settings>
  </userSettings>
</configuration>